<div class="modal-header">
    <button type="button" class="close" ng-click="ok()">&times;</button>
    <h4 class="modal-title">{{configLowQuestion.title_model}}</h4>
</div>
<div class="modal-body relative">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-bottom">
                <span class="font-weight">Question</span>
                <textarea type="text" placeholder="Question" ng-model="configLowQuestion.question" class="demo-input textarea-answer" style="height:90px;"> </textarea>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <!--update Embedding Adapter-->
    <button type="submit" class="btn btn-primary" ng-click="addOrUpdateUserQuestion()">Save</button>
</div>