<div class="modal-header border-bottom">
  <div class="tab-ul clearfix">
    <div ng-class="{active: statistics.statisticsTab===4}" funfilter="chatbot_statistics_history_record">
      <a class="modal-title" href ng-click="statisticsTab4()">History Record</a>
    </div>
    <button type="button" class="close" ng-click="ok()">&times;</button>
  </div>
</div>
<div class="modal-body relative">
  <div ng-show="statistics.statisticsTab===4" style="min-height: 400px">
      <form class="form-horizontal">
        <div class="form-bottom col-xs-10">
          <span class="font-weight">User Id</span>
          <div class="input-div">
            <input type="text" placeholder="User Id" ng-model="record.openid" class="demo-input" ng-keyup="searchRecords($event)">
          </div>
          <span class="font-weight" style="width:140px">Conversation ID</span>
          <div class="input-div">
            <input type="text" placeholder="Conversation ID" ng-model="record.id" class="demo-input" ng-keyup="searchRecords($event)">
          </div>
          <button class="btn btn-primary" ng-click="searchEID()">Query</button>
        </div>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <!--<th>Contry</th>-->
            <!--<th>City</th>-->
            <!--<th>Department</th>-->
            <th>Conversation ID</th>
            <th>User Id</th>
            <th>Start Time</th>
            <th>Session Length</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in record.historyRcords" ng-click="openDetail(record.id)" ng-init="tooltips();">
            <!--<td>{{record.Country}}</td>-->
            <!--<td>{{record.Location}}</td>-->
            <!--<td>{{record.Entity}}</td>-->
            <td><span data-toggle="tooltip" data-placement="top" title="{{record.id}}" class="white-space" style="max-width: 147px;">{{record.id}}</span></td>
            <td>{{record.openid}}</td>
            <td>{{record.last_date}}</td>
            <td>{{record.datelen}}s</td>
          </tr>
        </tbody>
      </table>
      <tm-pagination conf="paginationRcords"></tm-pagination>
    </div>
</div>
