/*svg style*/
.svg-line{
  position: absolute;
  bottom:0;
  right: 0;
}
.line{
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
  stroke: #FFCCCC;
  stroke-width: 3;
  -webkit-transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
 transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}
.search-line {
  stroke-dasharray: 398;
  stroke-dashoffset: 398;
}
#id_username:focus  + svg .line {
  stroke-dashoffset: 0;
}
#id_password:focus  + svg .line {
  stroke-dashoffset: 0;
}
#contact_search:focus + svg .line.search-line {
  stroke-dashoffset: 0;
}

/*botton style*/
.bubbly-button {
  transition:800ms ease all;
  position:relative;
  box-shadow: 0 2px 10px rgba(208, 1, 27, 0.5);
}
.bubbly-button:hover{
  background:#fff;
  color:#F69488;
}
.bubbly-button:before,
.bubbly-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #F15A47;
  transition:400ms ease all;
}
.bubbly-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.bubbly-button:hover:before,
.bubbly-button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*右键菜单*/
.contextMenu {
  display: none;
}

/*loading bar*/

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  /* -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px; */
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background-color: rgba(255,255,255,.6);
}
#loading-bar{
  width: 1px;
  height: auto;
  position: relative;
  background-color: #ccc;
    border-radius: 10px;
    left: 50%;
    top: 50%;
}
#loading-bar .bar{
  height: auto;
  position:absolute;
  background-color: none;
}
#loading-bar .peg{
  height: 20px;
  color:#000;
  box-shadow: none;
}
#loading-bar-spinner{
  top: 49.5%;
  left: 50%;
}
#loading-bar-spinner .spinner-icon{
  width: 30px;
  height: 30px;
}


/*滚动条*/

.scrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F9B3AA;
}
.scrollbar ::-moz-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar ::-moz-scrollbar {
  width: 8px;
  background-color: #fff;
}

.scrollbar ::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(74, 119, 160);
}
/*end-滚动条*/


/*修改tabs input样式*/
tags-input {
  max-width: 250px;
}
tags-input .tags .tag-item{
  padding: 0 12px;
  border-radius: 16px;
  background: rgb(224,224,224);
  color: rgb(66,66,66);
  border: none;
  height: 30px;
  line-height: 30px;
}
tags-input .tags{
  box-shadow: none;
  border:none;
  padding: 5px;
}
tags-input .host {
  border: 1px solid #dfe0e2;
}
tags-input .tags.focused {
  box-shadow: none;
}
tags-input .tags .input {
  height: 30px;
}
/*tags-end*/