.mu-icon-radius{
  border-radius:100px!important;
  height:40px!important;
  min-width:50px!important;
  left:-15px!important;
  position:fixed!important;
  top:50%!important;
  margin-top:-20px!important;
  z-index:100000!important;
  background:rgba(255,165,0,0.3)!important;
}
.class-a{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  overflow:hidden;
}
.class-b{
  display:none;
}
.class-c{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  overflow:hidden;
}
.class-d{
  display:none;
}
.noPadding{
  padding:0px!important;
}
.mu-expansion-panel-content{
  padding:8px 10px 5px!important;
}
.mu-expansion-panel-header{
  padding:0 10px!important;
}
.mu-item__open .toggle-icon{
  transform: rotate(180deg);
}
.mu-item{
  height:auto!important;
}
.mu-icon-radius .mu-button-wrapper{
  padding:0px!important;
}
